.logo {
  display: inline-block;

  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  color: #000000;

  &--inverse {
    color: #ffffff;
  }
}

.logo__accent {
  color: #2196f3;
}
