.filters {
  @extend%list;
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 40px;

  @media screen and (max-width: 388px) {
    align-content: space-between;
    height: 144px;
  }

  @media screen and (min-width: 389px) and (max-width: 767px) {
    align-content: space-between;
    height: 91px;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.filters__item {
  // @media screen and (max-width: 767px) {
  //   margin-bottom: 15px;
  // }
  &:not(:last-child) {
    margin-right: 8px;
  }
}
